<strong>Hello, {{ provider }}</strong>
<p>An appointment has been cancelled.<br />
  Details bellow:</p>
<p>
  <strong>Customer: </strong> {{ user }} <br />
  <strong>Date: </strong> {{ date }} <br />
  <br />
  <small>
    This time is available again for new appointments.
  </small>
</p>
